    body {
    background-color: #282c34;
    height: 100%;
    margin: 0; 
    padding: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .TodoList {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .Todo {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .Todo input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .Todo li {
    color: #333;
  }
  
  .Todo li.completed {
    text-decoration: line-through;
  }
  
  .Todo button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
  }